@using Microsoft.AspNetCore.Http;
@using Presentation_Layer.ViewModels;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Forum</title>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div id="left" class="column">
        <div class="top-left">
            <div id="home">
                <a asp-area="" asp-controller="Forum" asp-action="Index" id="homeIcon" class="material-icons">home</a>
            </div>
        </div>
        @if(HttpContextAccessor.HttpContext.Session.GetString("forumId") != null)
        {
            <div class="top-left">
                <div id="forum">
                    <a asp-area="" asp-controller="Post" asp-action="Index" id="forumicon" class="material-icons">forum</a>
                </div>
            </div>
            <div class="top-left">
                <div id="add">
                    <a asp-area="" asp-controller="Post" asp-action="Create" id="addicon" class="material-icons">add_box</a>
                </div>
            </div>
        }
        @if (HttpContextAccessor.HttpContext.Session.GetString("User") != null)
        {
            AccountDetailVM account = new AccountDetailVM();
            account = JsonConvert.DeserializeObject<AccountDetailVM>(HttpContextAccessor.HttpContext.Session.GetString("User"));
            if (account.Administrator)
            {
                <div class="top-left">
                    <div id="create">
                        <a asp-area="" asp-controller="Forum" asp-action="Create" id="forumaddicon" class="material-icons">note_add</a>
                    </div>
                </div>
            }
        }

        <div class="bottom">

        </div>
        <div class="bottomLeft">
            <div id="logout"><a asp-area="" asp-controller="Account" asp-action="Logout" id="logouticon" class="material-icons">exit_to_app</a></div>
        </div>
        <div class="bottomLeft">
            <div id="profile"><a asp-area="" asp-controller="Account" asp-action="Index" id="profileIcon" class="material-icons">person</a></div>
        </div>
    </div>
    <div id="right" class="column">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
