html{
    height: 100%;
}
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,85,89,0.9668242296918768) 2%, rgba(22,178,210,1) 27%, rgba(0,212,255,1) 47%);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

#LoginBox {
    color: white;
    margin-top: 12.5%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
#LoginForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.InputBox {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 30%;
}
.LoginButton {
    background-color: white;
    border-radius: 5%;
    color: #376a6e;
    width: 25%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    padding-left: 7px;
}
.BigText {
    font-size: 74px;
}

/*Register dingen*/
.RegisterTable {
    text-align: left;
    margin: auto;
    border-spacing: 0 10px;
    border-collapse: separate;
    border: hidden;
}

.RegisterInputBox {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.RegisterTd {
    padding-right: 15px;
    width: 50%;
    border: hidden;
}

.RegisterTr {
    width: 100%;
    border: hidden;
}
.BackgroundBox {
    background-color: White;
    opacity: 0.9;
    border-radius: 20px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}