@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="col-md-12" style="margin-bottom: 30px;">
        <div class="row justify-content-around">
            <h1>Welkom bij het forum</h1>
        </div>

        <div class="welkomRij">
            <div class="welkomRijContent">
                <a asp-area="" asp-controller="Post" asp-action="Create"> <button>Create Post</button></a>
            </div>
        </div>

        @*<div class="welkomRij">
            <div class="welkomRijContent">
                <a asp-area="" asp-controller="Login" asp-action="Index"> <button>Login</button></a>
            </div>
        </div>

        <div class="welkomRij">
            <div class="welkomRijContent">
                <a asp-area="" asp-controller="Account" asp-action="Register"> <button>Register</button></a>
            </div>
        </div>*@

        <div class="welkomRij">
            <div class="welkomRijContent">
                <a asp-area="" asp-controller="Post" asp-action="Index" id="forumIcon" class="material-icons">forum</a>
            </div>
        </div>


    </div>
</body>
