@model Presentation_Layer.ViewModels.AccountDetailVM

<div class="col-md-12" style="margin-bottom: 30px;">
    <div class="row justify-content-around">
        <h1>Welkom bij het forum, <label asp-for="Username"></label></h1>
    </div>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
</div>
