@model Presentation_Layer.ViewModels.PostDetailVM

@{ 
    ViewData["Title"] = "Detail";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
<div>
    @Html.DisplayFor(model => model.PostContent)
</div>