@model Presentation_Layer.ViewModels.PostDetailVM;

<body>
<div id="">
    <h1> All posts </h1>
        <div class="formulierRij">
            <div class="formulier-half">
                @Html.Display(Model.Title)
            </div>
        </div>
        <div class="formulierRij">
            <div class="formulier-half">
                @Html.Display(Model.PostContent)
            </div>
        </div>
        <div class="formulierRij">
            <input type="submit" value="Opslaan" />
        </div>
</div>
</body>