@using Presentation_Layer.ViewModels
@model Presentation_Layer.ViewModels.PostViewModel

@{ 
    ViewData["Title"] = "Posts";
}

<body>
    <div id="">
        <table class="table table-striped table-hover">
            <h1> All posts </h1>
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Content</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PostDetailVM item in Model.PostViewModels)
                {
                    <tr>
                    <td>
                    @Html.ActionLink(item.Title, "Detail", new { id = item.Id})
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.PostContent)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.PostTime)
                    </td>
                    </tr>
                }
        </table>
        </div>
</body>